<ion-header>
      <ion-toolbar>
        <ion-title slot="start">Reid's Library</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="dark" class="button" (click)="openAddBook()">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

<ion-content [fullscreen]="true">
  <div class="topContainer">
    <div class="shelf">
      <div class="book" *ngFor="let book of books" (click)="openPopover(book)">
        {{book.title}}</div>
    </div>
    <div class="shelf">
    </div>
  </div>
</ion-content>
