ion-content{
  --background: rgb(60, 60, 139);
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.topContainer{
  @extend .container;
  margin-top: 15%;
}

.shelf{
  height: 100px;
  width: 300px;
  border: 10px solid brown;
  background-color: black;
  justify-content: center;
  display: flex;
  position: relative;
}

.book{
  height: 80px;
  width: 20px;
  background-color: rgb(37, 117, 37);
  display: flex;
  position:relative;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  font-size: x-small;
}